#RewriteEngine On
#RewriteCond %{HTTP_HOST} !^www\.
#RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

RewriteEngine on
RewriteCond %{HTTP_HOST} !^www\.tanmayajain\.com
RewriteRule (.*) http://www.tanmayajain.com/$1 [R=301,L] 